# terminal/shell setups
alias portvar='[ -n $PORTABLES ]'
alias omzmode='portvar && ([ ! -e ~/.zshenv ] || mv -f ~/{,.shh}.zshenv) && ln -f {$PORTABLES/omz+,~/}.zshrc && exec zsh'
alias zimmode='portvar && [ -d ~/.zim ] && ([ ! -e ~/.zshenv ] || mv -f ~/{,.shh}.zshenv) && ln -f {$PORTABLES/zim,~/}.zshrc && ln -f {$PORTABLES/,~/}.zimrc && exec zsh'
alias z4hmode='portvar && ([ -e ~/.zshenv ] || mv -f ~/{.shh,}.zshenv) && ln -f {$PORTABLES/z4h,~/}.zshrc && exec zsh'

# utilities: shell
alias g='grep'
alias h='head'
alias l='ls -lAh'
alias t='tail'
alias ft='t -F'
alias follow='ft'
alias hist='history'
alias rnsort='sort -rn'

# utilities: python
alias pw='pyenv which'
alias pwp='pw python'

# pipe shortcuts
alias -g H='| head'
alias -g T='| tail'
alias -g G='| grep'
alias -g L="| less"
alias -g M="| more"

# gcloud auth
alias gauth='gcloud auth'
alias gal='gauth login'
alias gad='gauth application-default'
alias glogin='gal && gad login'

# gcloud config
alias gcfg='gcloud config'
alias gcfg-active='gcfg list'
alias gcfgs='gcfg configurations'
