# terminal/shell setups
alias portvar='[ -n $PORTABLES ]'
alias omzmode='portvar && ([ ! -e ~/.zshenv ] || mv -f ~/{,.shh}.zshenv) && ln -f {$PORTABLES/omz+,~/}.zshrc && exec zsh'
alias zimmode='portvar && [ -d ~/.zim ] && ([ ! -e ~/.zshenv ] || mv -f ~/{,.shh}.zshenv) && ln -f {$PORTABLES/zim,~/}.zshrc && ln -f {$PORTABLES/,~/}.zimrc && exec zsh'
alias z4hmode='portvar && ([ -e ~/.zshenv ] || mv -f ~/{.shh,}.zshenv) && ln -f {$PORTABLES/z4h,~/}.zshrc && exec zsh'

# utilities: shell
alias cd-='cd -' # for times when `pushdminus` might be unset
alias g='grep'
alias gi='grep -i'
alias ge='grep -E'
alias gei='grep -Ei'
alias qg='grep -q'
alias h='head'
alias l='ls -lAh'
alias t='tail'
alias ft='t -F'
alias follow='ft'
alias hist='history'
alias rnsort='sort -rn'

alias relink='relink -q && read '\''?Do you want to restart the shell now? (Y|n) '\''&& [[ ! ${(L)REPLY[1]} = n ]] && exec zsh'
alias reshell='exec $SHELL'

alias -g andyes='&& print yes'
alias -g orno='|| print no'
alias -g istrue='andyes orno'

# utilities: python
alias wp='which python'
alias pw='pyenv which'
alias pwp='pw python'
alias pylatest='pyenv install --list | grep -E '\''^\s*\d\.\d{1,2}\.\d+$'\'' | sort -t '\''.'\'' -k 1bn -k 2n -k 3n | tail -1'
alias pil='pyenv install $(pylatest)'

# git overrides
alias gs='git switch'
alias gsc='git switch -c'
alias gs-='git switch -'
alias gsm='git switch main'

# pipe shortcuts
alias -g H='| head'
alias -g T='| tail'
alias -g G='| grep'
alias -g Gi='G -i'
alias -g GE='G -E'
alias -g GEi='G -Ei'
alias -g L="| less"
alias -g M="| more"

# dbt
alias serve-dbtdocs='{ nohup dbt docs serve < /dev/null &> /tmp/dbt-docs-serve-$(date -I) & } && print "docs served in background" || print "something went wrong. Check /tmp/dbt-docs-serve-$(date -I)"'
alias killdocs='pkill -a -f dbt\ docs\ serve'

# gcloud auth
alias gauth='gcloud auth'
alias gal='gauth login'
alias gad='gauth application-default'
alias glad='gad login'
alias glogin='gal && glad'

alias gol='gal --login-config=$HOME/.config/gcloud/blume_login_config.json'
alias glod='glad --login-config=$HOME/.config/gcloud/blume_login_config.json'
alias glogon='gol && glod'

alias glogall='glogin && glogon'

# gcloud config
alias gcfg='gcloud config'
alias gconf='gcfg list'
alias gconfs='gcfg configurations'

# task/time warrior
alias todo='task add'
alias tasks='task list'

alias tw=timew
alias twd='timew day'
alias tww='timew week'
alias tws='timew summary :ids'

# terraform
alias tf='terraform'
alias tfi='tf init'
alias tfo='tf output'
alias tfp='tf plan'
alias tfa='tf apply'
alias tfv='tf validate'
alias tfmt='tf fmt'
alias tffmt=tfmt

# zsh-autocomplete
alias hisb="zstyle -t ':autocomplete:*' default-context '' && zstyle ':autocomplete:*' default-context history-incremental-search-backward || zstyle ':autocomplete:*' default-context ''"
